/*CONFIGURAÇÃO GERAL */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body{
    width: 100%;
    background-color: rgb(29, 18, 2);
    background-size: 1000px;
    background-image: url(../asset/img/fundo-site.jpg);
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}


.container-main{
    width: 375px;
    height: 770px;
    border-radius: 20px;
    background: white;
    padding: 24px;
    opacity: 0.95;
  
}

.img-logo{
    width: 300px;
    position: absolute;
    top: 30px;
    
}

.Container-box-inf-convert{

    
    height: 380px;
    position: relative;
    top: 50px;
}


.text-convert-de,.text-convert-para,.text-valor{
    color: #271103;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 6px;
    padding-top: 24px;

}

#select-convert-de,#select-convert-para{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #271103;
    background: #FFF;
    padding-left: 18px;
    color: #271103;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    appearance: none;

}

#select-convert-de:hover{

    background-color: #271103;
    color: #ffffff;
}
#select-convert-para:hover{

    background-color: #271103;
    color: #ffffff;
}


#box-value-a-convert{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #271103;
    background: #FFF;
    padding-left: 18px;
    color: #271103;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
      
}

.button-convert-currency{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    background: #271103;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    border: none;
    margin-top: 23px;
    cursor: pointer;

}

.button-convert-currency:hover{
    opacity: 0.8;
}
.button-convert-currency:active{
    opacity: 0.6;
}


.Container-icone-Converted-Value{
    width: 327px;
    height: 290px;
    border-radius: 20px;
    background: white;
    border: 1px solid #271103;
    position: relative;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 30px;
    
}

.text-currency-real,.text-currency-convert{
    color: #271103;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; 
    padding-top: 4px;
    padding-bottom: 3px;

}

.icone-seta-convert{
    width: 45px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.value-a-convert-currency-real,.value-currency-convert{
    color: #271103;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;


}



@media screen and (max-width: 900px) {

    
    
    body{


        padding-top: 7px;
        margin: 0;
        background-image: url(../asset/img/fundo-site.jpg);

    }

    .container-main{
        width: 375px;
        height: 834px;
        border-radius: 20px;
        background: #ffffff;

    }

    .img-logo{
        width: 300px;
        position: absolute;
        top: 30px;

    
    }

}





    












